/**General Formatting**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 100px;
}

/*Calculator formatting*/

/*Format calculator container*/
.calculator-container {
    background-color: white;
    -webkit-box-shadow: 0px 2px 24px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 24px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 2em;
    border-radius: 20px;
    gap: 20px;
}

/*Format calculator input field*/
.calc-output {
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.calc-btn-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.operational-btns,
.main-btn,
.operation-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.operational-btns {
    gap: 50px;
}


/*Format buttons*/
button {
    display: inline-block;
    width: 100px;
    padding: 1em;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: monospace;
}